version: '3.8'
services:
  redis:
    restart: always
    image: redis:7.2.3-alpine
    volumes:
      - redisdata:/data
    ports:
      - 6379:6379

  redis_replica:
    restart: always
    build: ./redis_replica
    volumes:
      - redisdata_replica:/data
    ports:
      - 6380:6379

volumes:
  postgresdata:
  redisdata:
  redisdata_replica: